# Name: AutoCorrelation_Function

# Description:
# This plugin produces a plot of the mean AutoCorrelation Function (ACF) of every pixel
# intensity over time (in a stack) or the radial averaged AutoCorrelation Function for one
# picture or for a whole stack.
# The plugin performs the calculation inside an circle ROI defined by the user.
# 
# The plugin implements several options for the calculation of the radial ACF:
# - For one picture, the calculation can be done using the FFT (faster) or with the naive
# autocorrelation function (slower, but more accurate). When calculating over a stack, only
# the FFT method is available.
# - User can decide if the radius should be converted into pixel or scale set for the picture.
# - For the calculation of the radial ACF on a stack, the result plotted can be the ACF of every
# slice of the stack, or the mean ACF of the whole stack.
# For pixels' ACF over time, the plugin can return the evolution of intensity of every pixel over time.
# 
# This plugin is a mod of the Radial Profile Extended plugin from Philippe CARL and use
# most of the features implemented in it.
# http://rsb.info.nih.gov/ij/plugins/radial-profile-ext.html
# 
# The Radial averaged Autocorrelation calculation using the FFT is based on the macro
# Radially Averaged Autocorrelation from Michael SCHMID
# http://imagejdocu.tudor.lu/doku.php?id=macro:radially_averaged_autocorrelation

# Author: Vivien WALTER
# Version: 1.0
# Date: 2015/04/28
# Requires: ImageJ 1.48p

Plugins, "AutoCorrelation Function", AutoCorrelation_Function
Help>About Plugins, "AutoCorrelation Function...", AutoCorrelation_Function("about")